/*Account Page*/

html,body{
	height:100%;
}
#container {
	width:90%;
	height:100%;
	margin:0px auto;
	text-align:center;
	/*background-image:url('http://www.math.cornell.edu/~numb3rs/lipa/597px-Chess_Board.svg.png');
	*/
	background-color:black;
	background-size:100%;
    background-repeat:no-repeat;
	
}

#header{
	background-color:#8A3131;
	border-style:solid;
	border-width:5px;
	border-color:black;
	color:white;
	text-align:center;
	
}

#header p{
	text-align:right;
	padding:0px;
	margin:0px;
	color:white;
}
#header a{
	color:white;
}

#logout, #editProfile{
	float:right;
	background-color:#8A3131;
	color:white;
}

#content{
	width:60%;
	height:70%;
	margin-left:4.5%;
	clear:none;
	position:absolute;
	background-color:#8A3131;
	border-style:solid;
	border-width:1px;
	border-color:black;
	color:white;
	max-width:60%;
	max-height:90%;
}

#announcements{
	font-family:"Times New Roman", Times, serif;
	font-size:35px;
	
}

#activity{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:35px;
}

#sidebar-right{
	width:20%;
	height:70%;
	float:right;
	color:#FFFFFF;
	background-color:#8A3131;
	border-style:solid;
	border-width:1px;
	border-color:black;
	margin-right:2%;
	font-size:19px;
}
#sidebar-right a{
	color:#FFFFFF;
}


#picture{
padding:0px;
margin:0px;
}

#stats{
}

#edit{
}

#matchmakingButton{
	margin:0px auto;
	text-align:center;
	background-color:#8A3131;
	width:15%;
	color:white;
	margin-bottom:2%;
}

#friends{
overflow:auto;
height:120px;
border:2px solid black;
}
/*End of account page*/


/*Login Page*/
#loginContent{
	padding-top:2%;
	width:80%;
	height:60%;
	margin:0px auto;
	background-color:#8A3131;
	color:white;
}
/*End of Login Page*/

/*Sign Up Page*/
#formContainer{
	width:90%;
	height:80%;
	margin: 0px auto;
	background-color:black;
	color:white;
}

#formTitle{
	text-align:center;
	color:white;
	background-color:#8A3131;
}

#formTitle a{
	color:white;
}

#signupTable{
	width:70%;
	margin:0px auto;
	background-color:#8A3131;
}

#formButtons{
	padding-top:5%;
	margin:0px auto;
	width:70%;
	text-align:center;
	background-color:#8A3131;
}

#ChangePasswordBody {
	margin: 0px auto;
	background-color:#8A3131;
	color:white;
}

#ChangePasswordTable {
	position:fixed;
	text-align:center;
	color:white;
	margin: 0px auto;
	font-weight:bold;
}
/*End of Sign Up Page*/
